{{>licenseInfo}}
package org.simpleserver.controllers;

import org.simpleserver.Endpoint;

public class {{classname}} extends Endpoint {
{{#operations}}{{#operation}}
    public Object {{operationId}}(Object request) {
        this.setResponseCode(500);
        return "Endpoint not implemented";
    }
{{/operation}}{{/operations}}
}