{{>licenseInfo}}
package org.simpleserver.controllers;

import static org.junit.Assert.assertEquals;
import org.junit.Test;

public class {{classname}}Test {
    private Object testRepository = null;

    {{classname}} endpoint = new {{classname}}(testRepository);
{{#operations}}{{#operation}}
    @Test
    public void testHandle{{httpMethod}}() {
        String response = (String)this.endpoint.{{operationId}}(null);
        int responseCode = this.endpoint.getResponseCode();
        assertEquals(500, responseCode);
        assertEquals("Endpoint not implemented", response);
    } {{/operation}}{{/operations}}
}